/packages
*.suo
/SIMSAPI/bin
/SIMSAPI/obj
/SIMSAPI/logs
/SIMSWeb.Tests/bin
/SIMSWeb.Tests/obj
/SIMSWeb/bin
/SIMSWeb/obj
/SIMSWeb/assets/libs/bower
/SIMSWeb/node_modules
/SIMSWeb/obj
/SIMSWeb/bin
/SIMSWeb/.tmp
/SIMSWeb/dist
/SimsReports/bin
/SimsReports/obj
.vs